--only-binary=:all:

# Core data science packages
numpy==1.26.0
pandas==2.2.2
scikit-learn==1.4.2
mlxtend==0.23.1

# Flask & API tools
Flask==3.0.3
flask-cors==4.0.0
gunicorn==22.0.0

# Environment & utils
python-dotenv==1.0.1
requests==2.32.3
markdown==3.6
reportlab==4.0.9

# Google AI SDK
google-generativeai==0.7.2

# Optional extras
redis==5.0.4
